.Nav{
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2vh;
}

.Categories{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    list-style-type: none;
}

a, a:hover, a:active, a:visited { color: white; }

a{
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover{
    color: rgb(255, 185, 33);
}

.h3Title{
    color: rgb(255, 185, 33);
    font-size: xx-large;
}
.h3Title:hover{
    color: wrgb(255, 185, 33);
}

.LinkTitle{
    text-align: center;
}

.CartWidget{
    text-align: center;
}