.ItemCountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
}

.ControlButton{
    border: none;
    border-radius: 50px;
    background-color: rgb(255, 185, 33);
    color: black;
    font-weight: 600;
    font-family:monospace;
    font-size: larger;
}

.AddNumber{
    color: rgb(114, 114, 114);
}